doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Lato&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap')
    link(rel="icon", href="/images/favicon.ico")
  body
    block content
